body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: skyblue;
}
div {
    height: auto;
    width: 500px;
    display: none;  
}
h1{
    margin: 0px;
    padding: 5px;
    text-align: center;
    width: 500px;
    background: #45a049;
    border: 1px solid black;
}
div{
    margin: 0px;
    padding: 5px;
    text-align: justify;
    width: 500px;
    background: white;
    border: 3px ridge rgb(201, 198, 198);
}
#flip{
    margin: 0px;
    padding: 5px;
    width: 500px;
    text-align: center;
    background: white ;
    border: 1px solid black;
    cursor: pointer;
} 